html {/*has the background image fixed even when scrolling of a kangaroo rat*/
    font-size: 16px;
    font-family: "Playfair Display";
    background:url(https://i.pinimg.com/originals/02/8e/58/028e5878580b59f251800e32dcce0d64.jpg);
    background-attachment: fixed;
    background-size: cover;
}

.bgLayer { /*A slight orange hue layers ontop of the background image of the kangraoo rat*/
    background-color: rgba(255, 165, 0, 0.85);
    position: absolute;
    top: 0;
    left: 0;
}

/*The following two CSS rules are from Google Fonts. Picked out 'Playfair Display' normal and italic*/
@font-face {
    font-family: 'Playfair Display';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: local('Playfair Display Regular'), local('PlayfairDisplay-Regular'), url(https://fonts.gstatic.com/s/playfairdisplay/v18/nuFiD-vYSZviVYUb_rj3ij__anPXDTzYgA.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

@font-face { 
    font-family: 'Playfair Display';
    font-style: normal;
    font-weight: 700;
    font-display: swap;
    src: local('Playfair Display Bold'), local('PlayfairDisplay-Bold'), url(https://fonts.gstatic.com/s/playfairdisplay/v18/nuFlD-vYSZviVYUb_rj3ij__anPXBYf9lW4e5g.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

.navigation {
    border: 5px solid #ff9100;
    box-sizing: border-box;
    background-color: rgb(255, 166, 0);
    overflow: auto;
    padding: 18px 50px;
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    /*z-index: 999;*/
}

.navigation {
    display: inline-block;
    /*font-family: 'Oxygen', sans-serif;*/
    font-size: 16px;
    font-weight: 300;
    letter-spacing: 2px;
    margin: 0;
    padding: 20px 18px 10px 18px;
    /*text-transform: uppercase;*/
    /*text-align: left;*/
    /*padding: 5; /*ul*/
}

.spaceForHeader {
    border: 3px solid #ff9100;
    box-sizing: border-box;
    background-color: rgb(255, 166, 0);
    overflow: auto;
    padding: 18px 50px;
    position: fixed;
    top: 0;
    left: 0;
    /*width: 100%;*/
    /*z-index: 999;*/
}

.spaceForHeader {
    display: inline-block;
    /*font-family: 'Oxygen', sans-serif;*/
    font-size: 14px;
    font-weight: 300;
    letter-spacing: 2px;
    margin: 0;
    padding: 5px;
    /*text-transform: uppercase;*/
    /*text-align: left;*/
    /*padding: 5; /*ul*/
}
/*#hyperlinks, */
a {
    border: 2px solid #ffbb00;
    background-color: rgb(253, 143, 0);
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}

body { /*All content inside the 'body' element should be centered aligned*/
    text-align: center;

    /*Scroll box model*/
    /*width: 400px; 
    height: 1000px; /*Added to test overflow
    overflow: scroll; /*overflow added*/
}

h1 { /*Heading 1 is "Kangaroo Rat" titling the page*/
    /**color: #FFF;
    font-size: 2em;
    font-family: Georgia; 
    padding-top: 100px;**/
    color: saddlebrown;
    font-size: 50px;
    margin: 10px;
    padding: 10px;
    border: 2px solid #ffbb00;
}

/*All subheaders are 'saddlebrown' while all content below is 'brown'*/

h2 {
    color: saddlebrown;
}

h3 {
    color: saddlebrown;
}

h4 {
    color: saddlebrown;
}

p {
    color: Brown;
    
}

/*ul and ol's bullet points and numbering was left aligned, but now are centered*/
ul { 
    color: Brown;
    list-style-position: inside;
}

ol {
    color: Brown;
    list-style-position: inside;
}

table {
    height: 40%;
    left: 10%;
    margin: 20px auto;
    overflow-y: scroll;
    position: static;
    width: 80%;
}

#media {
    color: saddlebrown;
}

footer {
    color: saddlebrown;
}